{% load static %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Victor Wilder">
    <meta name="copyright" content="Victor Wilder"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="robots" content="{% block meta_robots %}{% endblock %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        :root {
            --bg-color: #f2f5fa;
            --light: #fbfcfd;
        }

        body {
            background: var(--bg-color);
            overflow-x: hidden;
            touch-action: cross-slide-x;
            -ms-touch-action: cross-slide-x;
        }

        .bg-light {
            background: var(--light) !important;
            background-color: var(--light) !important;
        }
    </style>
    {% block custom-css %}

    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}

<!----------- Footer ------------>
<footer class="container mt-5">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <h2>Plattformpilot</h2>
            <h5>Die passenden Tools und Plattformen für Ihr nächstes Vorhaben.</h5>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <h5>Produkte</h5>
            <a href="#">Alle Produkte</a>
            <hr class="w-50">
            <a href="#">Ich bin Produktanbieter</a>
            <br>
            <a href="#">Ich will mein Produkt listen</a>

        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <h5>Unternehmen</h5>
            <a href="#">Über uns</a>
            <br>
            <a href="#">Impressum</a>
            <br>
            <a href="#">Datenschutz</a>
            <br>
            <a href="#">Cookie Richtlinien</a>
            <br>
        </div>
        <div class="col-md-3 col-sm-6 col-12"></div>
    </div>
</footer>


{% block custom-js %}

{% endblock %}
</body>
</html>