{% extends 'base.html' %}
{% load static %}
{% block meta_description %}

{% endblock %}

{% block meta_robots %}

{% endblock %}

{% block title %}
    Didaktische Plattformen im Vergleich - Plattformpilot
{% endblock %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/core/index.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'aos/aos.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="top__wrapper">
        <div class="top-bg-image" id="top__particles">
            {#            {% include '_includes/core/index-bg.svg' %}#}
        </div>
        <div class="position-absolute top-50 start-50 translate-middle top-content">
            <h1 class="position-relative" data-aos="zoom-out" data-aos-duration="500">
                Finden und vergleichen Sie didaktische Plattform innerhalb von Minuten.
            </h1>
            <form class="" id="form" method="GET">
                <input type="text" name="search" id="search" class="form-control w-100" placeholder="KATEGORIE FINDEN"
                       data-aos="zoom-out" data-aos-duration="500" data-aos-delay="100"
                >
                <h6 class="mt-4" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="200">Beliebte
                    Kategorien</h6>
                <div class="d-inline" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="400">
                    {% for category in categories|slice:4 %}
                        <a href="{% url 'core:platform_list' category.slug %}?is_free=on"
                           class="text-decoration-none text-dark">
                            {{ category.category }} -
                        </a>
                        {% if forloop.last %}
                            <a href="{% url 'core:all_categories' %}">Alle Kategorien</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <!-- ---------- main ---------- -->
    <div class="position-relative main__wrapper">
        <div class="container w-900 pt-5 px-md-3 px-4">
            <h2 data-aos="zoom-out" data-aos-duration="500" data-aos-delay="100">
                Wir stehen für Objektivität
            </h2>
            <div class="row row-cols-sm-2 row-cols-1 g-1">
                <div class="col">
                    <p class="mt-4" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="100">
                        Vergleichsportale stehen oft in Kritik, keine objektive Auflistung Ihrer Angebote zu geben. Die
                        profitabelsten Angebote sind ganz oben...
                        <br>
                        <b>Bei und ist es anders!</b>
                        <br>
                        <br>
                        Unser Alogythmus ist programmiert, um optimale Ergebnisse für Sie zu finden, weil uns
                        Objektivität und Vertrauen wichtiger als Geld ist.
                    </p>
                </div>
                <div class="col text-sm-end text-center" data-aos="zoom-out" data-aos-duration="500"
                     data-aos-delay="300">
                    <img src="{% static 'images/core/analysis-user.png' %}" class="" height="300" id="img1"
                         alt='analysis PNG Designed By SilviaNatalia from https://pngtree.com/'/>
                    <small id="fig1" class="d-none">
                        analysis PNG Designed By SilviaNatalia from https://pngtree.com/
                    </small>
                </div>
            </div>
            <div class="row row-cols-sm-2 row-cols-1 g-1 mt-5">
                <div class="col text-sm-start text-center order-sm-1 order-3" data-aos="zoom-out" data-aos-duration="500"
                     data-aos-delay="500">
                    <img src="{% static 'images/core/survey.png' %}" class="" height="300" id="img2"
                         alt='analysis PNG Designed By SilviaNatalia from https://pngtree.com/'/>
                    <small id="fig2" class="d-none">
                        analysis PNG Designed By SilviaNatalia from https://pngtree.com/
                    </small>
                </div>
                <div class="col order-2">
                    <h2 data-aos="zoom-out" data-aos-duration="500" data-aos-delay="100">
                        Durch Umfragen zum Ziel
                    </h2>
                    <p class="mt-4" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="200">
                        Durch eine Umfrage unter Experten und Pädagogen, wurden die wichtigsten Merkmale und Kritierien
                        bei der Entwicklung dieses Vergleichsportals analysiert und Umgesetzt.
                        <br>
                        <br>
                        Unsere Filterkriterien sind von Experten, für Sie optimal angepasst, um schnell die passende
                        Plattform zu finden.
                    </p>
                </div>
            </div>
        </div>
        <div class="border-dotted mt-5 py-5">
            <div class="container w-900 px-md-3 px-4">
                <h2 data-aos="zoom-out" data-aos-duration="500" data-aos-delay="100" class="mb-5">
                    Wie wir Plattformen analysieren
                </h2>
                <div class="row row-cols-sm-4 row-cols-2 g-5">
                    <div class="col" data-aos="zoom-out" data-aos-duration="200"
                         data-aos-delay="100">
                        {% include '_includes/icons/checklist.svg' %}
                        <p class="mt-3">
                            <b>Funktionsumfang</b>
                            <br>
                            ist essentiell bei der Wahl der passenden Plattform. Wir zeigen Ihnen welche Funktionen die
                            Plattformen zu bieten haben.

                        </p>
                    </div>
                    <div class="col" data-aos="zoom-out" data-aos-duration="300" data-aos-delay="300">
                        {% include '_includes/icons/brush.svg' %}
                        <p class="mt-3">
                            <b>Aufbau & Design</b>
                            <br>
                            sollte einfach und schnell verständlich sein. Eine nicht benutzerfreundliche Plattform
                            behindert Workflow und macht wenig Spaß.
                        </p>
                    </div>
                    <div class="col" data-aos="zoom-out" data-aos-duration="300" data-aos-delay="400">
                        {% include '_includes/icons/euro-dollar.svg' %}
                        <p class="mt-3">
                            <b>Preis-Leistungs-Verhältnis</b>
                            <br>
                            ist ausschlaggebend für eine potentielle Nutzung der Plattform. Wir vergleichen den Preis
                            mit den angebotenen Leistungen und geben Antwort drauf!
                        </p>
                    </div>
                    <div class="col" data-aos="zoom-out" data-aos-duration="300" data-aos-delay="500">
                        {% include '_includes/icons/person-line.svg' %}
                        <p class="mt-3">
                            <b class="d-md-none d-block">Interaktionsmögl.</b>
                            <b class="d-md-block d-none">Interaktionsmöglichkeiten</b>
                            ... ohne diese wird es eintönig und fördert weniger. Wir testen wieviel Interaktionen jede Plattform bietet und bewerten diese.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------- #/main ---------- -->
{% endblock %}

{% block custom-js %}
    <script src="{% static 'aos/aos.min.js' %}"></script>
    <script>
        $(function () {
            let availableTags = [
                {% for category in categories %}
                    {
                        value: '{{ category.slug }}',
                        label: "{{ category }}"
                    },
                {% endfor %}
            ];
            $("#search").autocomplete({
                source: availableTags,
                select: function (e, ui) {
                    window.location.href = ui.item.value + '?is_free=on'
                }
            });
        });

        // random particles in start screen
        const colors = ["var(--success)", "var(--warning)", "var(--danger)", "var(--light)", 'var(--orange)'];
        const shapes = ['100%', '0%']
        let numBalls = window.innerWidth / 30;
        if (window.innerWidth > 1300) {
            numBalls = window.innerWidth / 40;
        }
        const balls = [];

        for (let i = 0; i < numBalls; i++) {
            let ball = document.createElement("div");
            ball.classList.add("ball");
            ball.style.left = `${Math.floor(Math.random() * 100)}%`;
            ball.style.top = `${Math.floor(Math.random() * 70)}vh`;
            ball.style.transform = `scale(${Math.random()})`;
            ball.style.minWidth = `1em`;
            ball.style.minHeight = `1em`;
            ball.style.width = `${Math.random() * 4}em`;
            ball.style.height = ball.style.width;
            ball.style.borderRadius = shapes[Math.floor(Math.random() * shapes.length)]

            function checkShape(ball) {
                if (ball.style.borderRadius === '0%') {
                    ball.style.border = "4px solid " + colors[Math.floor(Math.random() * colors.length)];
                    ball.style.rotate = `${Math.floor(Math.random() * 45)}deg`
                } else {
                    ball.style.background = colors[Math.floor(Math.random() * colors.length)];
                }
            }

            checkShape(ball)
            ball.addEventListener('click', () => {
                checkShape(ball)
            })

            balls.push(ball);
            document.getElementById('top__particles').append(ball);
        }

        // Keyframes
        balls.forEach((el, i, ra) => {
            let to = {
                x: Math.random() * (i % 2 === 0 ? -11 : 11),
                y: Math.random() * 10
            };

            let anim = el.animate(
                [
                    {transform: "translate(0, 0)"},
                    {transform: `translate(${to.x}rem, ${to.y}rem)`}
                ],
                {
                    duration: (Math.random() + 1) * 4000, // random duration
                    direction: "alternate",
                    fill: "both",
                    iterations: Infinity,
                    easing: "ease-in-out"
                }
            );
        });

        // Animate on scroll
        AOS.init({
            once: true
        })
    </script>
{% endblock %}