{% extends 'base.html' %}
{% load static %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'aos/aos.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/core/platform-list.css' %}"/>
{% endblock %}

{% block content %}
    {% include '_includes/base/navbar-lg.html' %}

    <div class="container-lg mt-5 px-lg-auto px-4">
        <div class="mb-3">
            <h1 class="h2">{{ category|capfirst }}</h1>
            <a href="{% url 'core:index' %}" class="text-decoration-none">
                {% include '_includes/icons/chevron-double-left.svg' %}
                Kategorie ändern</a>
        </div>
        <div class="filter__mobile-button d-lg-none d-flex justify-content-end">
            <div class='menu'>
                Filter
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--dark)"
                     class="bi bi-funnel-fill" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                </svg>
            </div>
        </div>
        <div class="mobile-background"></div>
        <form method="get" id="form">
            <div class="row row-cols-lg-2 g-4">
                <!-- filter section -->
                <div class="col-lg-3 p-lg-0 p-3 pt-0">
                    <div class="card-wrapper card-wrapper-fix pb-md-0 pb-2" id="filter_area">
                        <h5>
                            Funktionen
                            <span class="filter__mobile-button close">
                                {% include '_includes/icons/close.svg' %}
                            </span>
                        </h5>
                        {{ filter.form.funktion }}
                        <h5>Preisoption</h5>
                        <li>
                            <label for="id_is_free">
                                {{ filter.form.is_free }}
                                <span class="checkmark"><span class="check"></span></span>
                                Kostenlose Variante
                            </label>
                        </li>
                        <p class="mt-3 mb-0">Preisspanne</p>
                        <div class="filter__pricerange-wrapper">
                            {{ filter.form.price }}
                        </div>
                        <h5>Geeignet für</h5>
                        {{ filter.form.suitable_for }}
                        <button type="submit" class="btn btn-success w-100 rounded-0">Filtern</button>
                        <br>
                        <a href="{% url 'core:platform_list' category.slug %}?is_free=on"
                           class="text-decoration-none text-primary">Filter zurücksetzen</a>
                    </div>
                    <div class="mt-5 card-wrapper card-wrapper-fix d-lg-block d-none">
                        <h5>Ähnliche Kategorien</h5>
                        {% for category in category.related_category.all %}
                            <a href="{% url 'core:platform_list' category.slug %}?is_free=on">{{ category }}</a>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <!-- /filter section -->
                <div class="col-lg-8 col-12 p-lg-0 p-3 pt-0 offset-lg-1">
                    <!-- Sorting -->
                    <div class="card-wrapper card-wrapper-fix mb-5 d-flex justify-content-between">
                        <p class="my-auto">Treffer: <b>{{ filter.qs.count }}</b></p>
                        <div class="d-sm-flex d-none">
                            <p class="my-auto">Insgesamt: <b id="amount_products">{{ filter.qs.count }}</b></p>
                        </div>
                        <div class="d-flex">
                            <p class="my-auto me-2 d-sm-block d-none" class="">Sortieren</p>
                            <select name="sort_by" id="sort_by" class="form-select border-dark rounded-0"
                                    onchange="document.getElementById('form').submit()">
                                <option value="name" disabled>Sortieren nach</option>
                                <option value="name">Name A-Z</option>
                                <option value="-name">Name Z-A</option>
                                <option value="pricing">Preis aufsteigend</option>
                                <option value="-pricing">Preis absteigend</option>
                            </select>
                        </div>
                    </div>
                    <!-- /Sorting -->
                    <!-- Platform Cards -->
                    {% for platform in filter.qs %}
                        {% with accuracy_fit=True %}
                            {% include '_includes/core/platform-card.html' %}
                        {% endwith %}
                    {% endfor %}
                    <hr class="mb-5">
                    <!-- /Platform Cards -->
                    <!-- Related Platforms -->
                    {% for platform in related_platforms %}
                        {% with accuracy_fit=False %}
                            {% include '_includes/core/platform-card.html' %}
                        {% endwith %}
                    {% endfor %}
                    <!-- /Related Platforms -->
                </div>
            </div>
        </form>
    </div>
    <div class="d-none" id="sorting">{{ sorting }}</div>
{% endblock %}

{% block custom-js %}
    <script src="{% static 'aos/aos.min.js' %}"></script>
    <script>
        // Animate on scroll
        AOS.init({
            once: true,
        })

        // remove unnesseccary values
        let filter_unnecessary = (array, input, what_to_filter) => {
            let filter_id, substr_label;
            for (let i = 0; i < input.length; i++) {
                filter_id = input[i].id
                let label_text = document.querySelector('label[for="' + filter_id + '"]')
                // remove functionality values
                if (what_to_filter === 'functionality') {
                    if (window.innerWidth > 992) {
                        substr_label = label_text.innerText
                    } else {
                        substr_label = label_text.innerText.substr(2)
                    }
                    if (array.includes(substr_label)) {
                        // remove unnesseccary list element
                        label_text.parentElement.remove()
                    }
                }
                // remove suitable_for values
                if (what_to_filter === 'suitable_for') {
                    let input_val = document.getElementById('id_suitable_for_' + i)
                    if (!array.includes(parseFloat(input_val.value))) {
                        document.querySelector('label[for="id_suitable_for_' + i + '"]').parentElement.remove()
                    }
                }
                // add custom checkbox span
                label_text.innerHTML += `<span class="checkmark"><span class="check"></span></span>`
            }
        }

        let filter_input = document.querySelectorAll('input[name="funktion"]')
        let filter_array = {{ unnesseccary|safe }};
        let suitable_input = document.querySelectorAll('input[name="suitable_for"]');
        let suitable_array = {{ suitable_list|safe }};
        filter_unnecessary(filter_array, filter_input, 'functionality')
        filter_unnecessary(suitable_array, suitable_input, 'suitable_for')

        // add custom checkbox span to every input
        document.querySelector('label[for="id_is_free"]').innerHTML += `<span class="checkmark"><span class="check"></span></span>`

        // add placeholder so specific inputs
        document.getElementById('id_price_0').setAttribute('placeholder', 'von')
        document.getElementById('id_price_1').setAttribute('placeholder', 'bis')

        // count amount of products
        document.getElementById('amount_products').innerText = {{ filter.qs.count }} + {{ related_platforms.count }};

        // mobile navigation
        let mobile_nav_btn = document.getElementsByClassName('filter__mobile-button')
        const filter = document.getElementById('filter_area')
        const filter_bg = document.getElementsByClassName('mobile-background')[0]
        let toggle_filter = () => {
            if (filter.classList.contains('show')) {
                document.querySelector('html').style.overflow = 'auto'
                filter.classList.remove('show')
                setTimeout(() => {
                    filter_bg.classList.remove('show')
                }, 100)
            } else {
                document.querySelector('html').style.overflow = 'hidden'
                filter_bg.classList.add('show')
                setTimeout(() => {
                    filter.classList.add('show')
                }, 100)
            }
        }
        mobile_nav_btn[0].addEventListener('click', toggle_filter)
        mobile_nav_btn[1].addEventListener('click', toggle_filter)

        // select sorted value in sort_by
        const sort_by_input = document.getElementById('sort_by')
        let sort_by = document.getElementById('sorting').innerText;
        console.log(sort_by)
        for (let i = 0; i < 4; i++) {
            console.log(sort_by_input.options[i].value.toString())
            if (sort_by.toString() === sort_by_input.options[i].value.toString()) {
                sort_by_input.options[i].selected = true
            }

        }
    </script>
{% endblock %}